@model ProductList.ViewModels.HomeViewModel
<input type="hidden" id="total-count" value="@Model.TotalCount" />
<input type="hidden" id="page-size" value="@Model.PageSize" />
<table class="table" width="900">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Products.First().Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Products.First().Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Products.First().LastUpdatedTime)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Products)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LastUpdatedTime)
        </td>
      </tr>
    }
  </tbody>
</table>
